button {
    cursor: pointer;
    color: #fff !important;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 35px;
    padding: 30px 55px;
    background-color: green;
    border: none
}